<!doctype HTML>
<html>
<link rel="stylesheet" type="text/css" href="works_stylesheet.css">

<div id="container">
  
  <body>
    
    <h1><span>Michael Hughes</span></h1>
    <h2><span>Composer</span></h2>
    <a href="mailto:michaelryanhughes@gmail.com"><h3>Contact</h3></a>
    <div>Film</div>
    <div>Commercial</div>
    <div>Web</div>
  
  </body>
</div>
</html>