<!doctype HTML>
<html>
  <body>
    <h2><%= link_to 'home', works_path %></h2>
    <h3>enjoy</h3>
    <audio src="Note_A_1.mp3"></audio>
    <div style="height: 100px; width: 100px; background-color: #B8E2FF; border-radius: 100%;"></div>
  </body>
</html>