<!doctype HTML>
<html>
  <body>
      <body>
    <div class="header">
      <div class="name">
        <h1>mike hughes</h1>
      </div>
      <div class ="title">
        <h2><%= link_to 'home', works_path %></h2>
      </div>
      <div class="contact">
        <a href="mailto:michaelryanhughes@gmail.com"><h2>contact</h2></a>
      </div>
      <div class="bar"> </div>
    </div>
    <h3>enjoy</h3>
    <audio src="Note_A_1.mp3"></audio>
      <div style="height: 100px; width: 100px; background-color: #B8E2FF; border-radius: 100%;"></div>
  </body>
</html>