/* works_stylesheet */

html {
  font-family: helvetica
}
span {
  color: black;
}

h1 {
  font-size: 30px;
  /* background-color: #DBE2DB; */
  /* background-height: 40px; */
}

h2 {
  font-size: 18px;
  margin-top: 0px;
  /* background-color: #DBE2DB; */
}